@model List<HotelMVC.Models.Room>
@if (TempData["msg"] != null)
{
    <div style="background:#d1e7dd; color:#0f5132;
                    padding:10px; border-radius:8px;
                    margin-bottom:15px;">
        @TempData["msg"]
    </div>
}

<h2>Room List</h2>

<table border="1">
    <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Price</th>
        <th>Status</th>
    </tr>

    @foreach (var r in Model)
    {
        <tr>
            <td>@r.RoomNumber</td>
            <td>@r.Type</td>
            <td>@r.Price</td>
            <td>@r.Status</td>
        </tr>
    }
</table>

<br />
<a href="/Room/Create">Add New Room</a>

